*, body{
	margin: 0;
	padding: 0;
	font-family: 'Noto Serif', sans-serif, serif;
	font-size: 1rem;
}
img {
	max-width: 100%;
	height: auto;
}
a, a:hover, a:focus, a:active {
	color: #333;
	text-decoration: none;
}

p {
	margin: 10px 0;
}

table,
tbody {
	width: 100%;
	display: table;
}

ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

iframe {
   max-width: 100%;
   height: 400px;
}

.entry-title-search {
	margin-bottom: 20px;
}

#wrapper{
    max-width: 990px;
    margin: 0 auto;
}

.header_middle .logo {
	float: left;
    padding-top: 18px;
}

.header_middle:after {
	content: '';
	display: block;
	clear: both;
}

li.menu-item {
	display: inline-block;
}

li.menu-item a {
	margin: 0 15px;
	padding: 5px 0;
}

li.menu-item.current-menu-item a:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
	background: #2098D1;
	height: 4px;
}

.header_middle .menu_wrapper {
    float: right;
    margin-top: 42px;
}

.bg_menu_repeart .lavalamp li {
    float: left;
    list-style: none;
}

.bg_menu_repeart .lavalamp  {
    position: relative;
    margin-top: 7px;
    overflow: hidden;
}

.lavalamp-object {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #3b3a3a;
    width: 9px;
    height: 30px;
    z-index: 4;
    position: absolute;
}

.menu {
	float: right;
	display: inline-block;
}

.slider-wrapper {
    width: 100%;
    display: block;
    position: relative;
}

#slider {
    height: 364px;
    width: 100%;
    display: block;
    clear: both;
}

.nivo-directionNav { 
    display: none;
}

#footer .container {
    margin: 0 auto;
}

#footer .alignleft {
		margin-top: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    color: #888;
}

#footer .alignright {
    float: right;
    margin-top: 15px;
}

#footer .alignright ul li {
    background: #424242;
    height: 25px;
    padding: 3px 10px 0 10px;
    list-style: none;
    float: left;
    display: block;
    border-radius: 5px;
    color: #ff7a07;
    margin-right: 10px;
}

#footer .alignright ul li span {
    padding-top: 3px;
    float: left;
}

#content {
	margin-top: 15px;
}

#content:after {
	content: '';
	display: table;
	clear: both;
}

#primary {
    display: inline-block;
    width: calc(100% - 300px);
    float: left;
}

#secondary {
    float: right;
    width: 266px;
}

.container {
    margin-top: 15px;
}

.top-bds a {
    float: left;
    padding-right: 35px;
}

.top-bds a:last-of-type {
	padding-right: 0;
}

/*
// Box content
*/
.box-content {
    clear: both;
}


.box-content .title {
    width: 50%;
    text-transform: uppercase;
    font-weight: 400;
		font-size: 18px;
    padding: 5px 0px;
    display: inline-block;
		vertical-align: middle;
}

.box-content-top .view-all {
		display: inline-block;
		vertical-align: middle;
    width: calc(50% - 5px);
    text-align: right;
		color: grey;
}

.box-content-inside ul {
    margin: 0;
		padding: 0;
}

.box-content-inside ul::after {
		content: '';
		clear: both;
		display: block;
}

.box-content-inside ul li {
    list-style: none;
    width: calc(100%/3 - 21px);
    float: left;
		padding: 5px;
    text-align: center;
		min-height: 260px;
		max-height: 200px;
		border: 1px solid #d1d1d1;
		border-radius: 3px;
		margin: 5px;
}

.box-content-inside ul li:nth-of-type(3n) {
    margin-right: 0;
}

.box-content-inside ul li img {
    margin-bottom: 5px;
    width: 204px !important;
    height: 140px !important;
		max-width: 100%;
}

.box-content-inside ul li a {
    text-decoration: none;
    color: rgb(8, 128, 58);
    text-transform: uppercase;
    font-weight: bold;
}

/*
	Side bar
*/

.search-field {
		width: 100%;
    height: 37px;
    color: #7d7d7d;
    background: none;
    border: none;
    float: left;
		border: 2px solid #08803a;
		padding-left: 10px;
		border-radius: 20px;
		outline: 0;
}

.widget_search {
    height: 37px;
    width: 266px;
		position: relative;
}

.search-submit {
		border-radius: 100%;
		background: #08803a;
		color: #fff;
    width: 35px;
    height: 35px;
    float: right;
    border: none;
    cursor: pointer;
		position: absolute;
		right: 0;
		outline: 0;
}

.menu_phankhuc {
    width: calc(100% - 4px);
    border: 2px solid #1dabab;
    float: left;
    margin-top: 20px;
    background: #fff;
}

.menu_phankhuc ul li {
    list-style: none;
}

.menu_phankhuc ul li a{
	 display: block;
	 padding: 20px;
}

.menu_phankhuc ul li a i {
	background: #08803a;
	color: #fff;
	padding: 10px;
	border-radius: 100%;
	margin-right: 10px;
}

.support {
    width: calc(100% - 4px);
    border: 2px solid #1dabab;
    float: left;
    margin-top: 20px;
    background: #fff;
		padding: 25px 0;
}

.support .icon-phone {
		color: #fff;
		background: rgb(8, 128, 58);
		padding: 0.5rem;
		border-radius: 100%;
}

.support .title_support {
   font-size: 18px;
	 text-align: center;
}

.support .title_support span {
	font-weight: 700;
	color: #f58220;
	font-size: 20px;
}

.support ul {
    margin: 10px 0 0 35px;
}

.support ul li a {
    height: 17px;
    float: left;
    padding-left: 25px;
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
}

.box_right {
    width: 264px;
    float: left;
    margin-top: 20px;
    background: #fff;
}

.box_right .box_right_top {
    width: 260px;
    margin: 2px 0 0 2px;
}

.box_right .box_right_top .view-all {
	font-size: small;
	text-align: right;
	display: inline-block;
	width: calc(100% - 191px);
	color: grey;
}

.box_right .box_right_top .title_1 {
    width: 191px;
    height: 25px;
    float: left;
    font-size: 18px;
		text-transform: uppercase;
}

.content_tintuc {
    margin: 0px 5px 0 5px;
}

.content_tintuc ul li {
    list-style: none;
    border-bottom: 1px dashed #CCC;
    padding-bottom: 10px;
    padding-top: 10px;
    float: left;
    display: inline;
    width: 254px;
}
.content_tintuc ul li:last-child {
	border-bottom: none;
}

.content_tintuc ul li a {
    font-weight: 400;
		font-size: 0.96rem;
}

.content_tintuc ul li span {
    color: #fff;
		background: #f58220;
    font-size: 11px;
    margin-left: 10px;
		padding:0 2px;
}

.text_tgvang_mota {
    color: #666;
    font-size: 11px;
}

.text_tgvang_chitiet {
    border-bottom: 1px solid #CCC;
    border-width: 0 0 1px;
    color: #666666;
    height: 18px;
    text-align: right;
    padding: 3px;
}

/*
**	Detail post
**
*/

.title_sub {
    border-bottom: 1px dashed #999;
    float: left;
    padding-bottom: 5px;
    margin-bottom: 20px;
		width: 100%;
}

.title_sub h2 {
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: none;
    color: green;
}

h1 a {
    font-size: 18px;
    color: #0b9b47;
    text-transform: uppercase;
    float: left;
    text-decoration: none;
}

h1.entry-title-search a {
	float: none;
}

.search-results .page-title{
	text-transform: uppercase;
	margin-bottom: 20px;
}

#content h2 a,
.entry-header h2,
.entry-header span {
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: none;
    color: #333;
}

.padding {
    padding: 0 10px 0 10px;
    float: left;
}

div.tabscontainer div.tabs {
    list-style: none;
    width: 90px;
    cursor: pointer;
    float: left;
    margin-top: 10px;
		position: relative;
    left: 1px;
    z-index: 2;
}

div.tabs div.tab {
    display: block;
    height: 38px;
    background: #18aa59;
    border-top: none;
    position: relative;
    color: #fff;
}

div.tabs div.tab.first {
    border-top: none;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
}

div.tabs div.tab.selected {
    border-right-color: #005225;
}

div.tabs div.tab.selected {
    background: #f68220;
		position: relative;
}

div.tabs div.tab.selected:after {
	  content: '';
		display: block;
		position: absolute;
		right: -5px;
    top: 50%;
    margin-top: -5px;
		background: #f68220;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		width: 10px;
		height: 10px;
}

div.tabscontainer {
    clear: both;
    display: table;
    content: ''
}

div.tabs div.link {
    padding-left: 10px;
    line-height: 39px;
}

div.tabs div.tab.last {
    -moz-border-radius-bottomleft: 13px;
    border-bottom-left-radius: 13px;
}

div.tabs div.tab div.arrow {
    position: absolute;
    height: 58px;
    width: 17px;
    left: 100%;
    top: 0px;
    display: none;
}

div.tabs div.tab.selected div.arrow {
    display: block;
}


div.tabscontainer div.curvedContainer {
    margin-left: 89px;
    border: 2px solid #18aa59;
    min-height: 370px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    width: calc(100% - 100px);
}

div.tabscontainer div.curvedContainer .tabcontent {
    display: none;
    padding: 15px 10px 15px 20px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

div.tabscontainer div.curvedContainer .tabcontent.active {
	display: block;
}

div.tabscontainer div.curvedContainer .tabcontent img {
	max-width: 100%;
	height: auto;
}

div.tabscontainer div.curvedContainer .tabcontent.tab-new h1{
	font-size: 20px;
    vertical-align: baseline;
    font-weight: normal;
    color: rgb(255, 97, 0);
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

div.tabscontainer div.curvedContainer .tabcontent.tab-giao-dich p  {
	margin: 20px 0 40px 0;
}

div.tabscontainer div.curvedContainer .tabcontent.tab-giao-dich .main-title {
	color: green;
}

.pdl-info-content {
    line-height: 18px;
    background: url(images/form-thongtin.jpg) no-repeat;
    width: 698px;
    height: 336px;
}

.title_thongtin {
    color: #fff;
    padding: 7px;
    font-size: 14px;
}

div.tabscontainer {
    margin: 40px 0px;
}

.contactform ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.contactform ul li.fieldlabel {
    display: inline;
    float: left;
    padding-right: 5px;
    padding-top: 5px;
    width: 80px;
}

.line {
    height: 10px;
}

.contactform ul li.fieldinput {
    padding: 5px 0 0;
}

.contactform {
    color: #333333;
    padding: 5px 0 0 10px;
    width: 400px;
    float: left;
}

.contactform .textfield {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color -moz-use-text-color #999999;
    border-style: none none dotted;
    border-width: 0 0 1px;
    color: #666666;
    font-size: 11px;
    width: 300px;
}

.hotline {
    font-size: 14px;
    float: left;
    margin-left: 10px;
    width: 260px;
    line-height: 20px;
    margin-top: 10px;
    color: #F00;
    font-weight: bold;
}

.btnsubmit {
    background: url(images/btn-form-thongtin.jpg) no-repeat;
    width: 52px;
    height: 26px;
    border: none;
}

.btncancel {
    background: url(images/btn-form-thongtin.jpg) no-repeat;
    width: 52px;
    height: 26px;
    border: none;
}

.duankhac {
    width: 700px;
    margin-top: 20px;
}

.duankhac .title_duankhac {
    float: left;
    height: 22px;
    color: #0b9b47;
    padding-top: 5px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
		margin-bottom: 20px;
}

.duankhac ul li {
    list-style: none;
    clear: both;
}

.duankhac ul li a {
    display: block;
    text-decoration: none;
    padding-bottom: 10px;
}

.header-post h4 {
    color: #0b9b47;
    font-size: 14px;
    margin-bottom: 15px;
}

.text-muted{
    color: #7A7A7A;
    line-height: 18px;
    font-size: 12px;
    margin-top: 10px;
}

.content-post {
    line-height: 1.9;
}

.content-post p {
    margin: 20px 0;
}

.duankhac .title_tintuckhac {
    float: left;
    height: 21px;
    color: #0b9b47;
    padding-top: 5px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
}

article .entry-header {
    padding: 10px 0;
    border-bottom: 1px dashed #999;
    margin-bottom: 20px;
}

article .entry-header h1.entry-title{
    font-size: 18px;
    color: #0b9b47;
    text-transform: uppercase;
    text-decoration: none;
}

article.page.type-page .left_pannel div.wrapper-about-item {
    background: #fff;
    border: 1px solid #c6c6c6;
    margin-bottom: 20px;
    padding: 5px 0 5px 10px;
    float: left;
    width: 694px;
}

article.page.type-page .left_pannel .text-margin-left {
    margin-left: 20px;
    margin-bottom: 15px;
}

article.page.type-page .left_pannel .img-align-left {
    margin:0 20px 0 10px;
}

article.page.type-page .left_pannel .img-align-right {
    margin: 0 50px 0 20px;
}

article.page.type-page .left_pannel .img-align-bottom {
    margin-bottom: 10px;
}

article.page.type-page .left_pannel div.special {
    padding-right: 0;
    width: 705px;
}

.sangiaodich{
    float: left;
    width: 370px;
}

#fromlienhe {
    float: left;
    width: 700px;
    margin-top: 30px;
}

#fromlienhe .info_left {
    float: left;
    width: 100px;
    padding-bottom: 20px;
    display: block;
    height: 15px;
    font-weight: bold;
}

.redstar {
    color: #FF3333;
    padding-left: 2px;
}

#fromlienhe ul li {
    list-style: none;
}

#fromlienhe .info_input {
    padding-bottom: 20px;
}

#fromlienhe .textfield {
    height: 15px;
    border: none;
    border-bottom: 1px dashed #999;
    width: 590px;
    background: none;
    font-size: 12px;
}

#fromlienhe .textarea {
    height: 120px;
    width: 575px;
    padding: 10px;
    margin-top: 10px;
}

#fromlienhe .lastinfo_input {
    float: right;
}

.menu_sgd ul li{ list-style:none; float:left;}
.menu_sgd .menu_canban a{ background:url(images/btn_canban.jpg) no-repeat; float:left; width:124px; height:54px;}
.menu_sgd .menu_canban a:hover{background:url(images/btn_canban_active.jpg) no-repeat;}
.menu_sgd .menu_canban a.active{background:url(images/btn_canban_active.jpg) no-repeat;}


.menu_sgd .menu_canmua a{ background:url(images/btn_canmua.jpg) no-repeat; float:left; width:109px; height:54px;}
.menu_sgd .menu_canmua a:hover{background:url(images/btn_canmua_active.jpg) no-repeat;}
.menu_sgd .menu_canmua a.active{background:url(images/btn_canmua_active.jpg) no-repeat;}

.menu_sgd .menu_canthue a{ background:url(images/btn_canthue.jpg) no-repeat; float:left; width:105px; height:54px;}
.menu_sgd .menu_canthue a:hover{background:url(images/btn_canthue_active.jpg) no-repeat;}
.menu_sgd .menu_canthue a.active{background:url(images/btn_canthue_active.jpg) no-repeat;}

.menu_sgd .menu_chothue a{ background:url(images/btn_chothue.jpg) no-repeat; float:left; width:109px; height:54px;}
.menu_sgd .menu_chothue a:hover{background:url(images/btn_chothue_active.jpg) no-repeat;}
.menu_sgd .menu_chothue a.active{background:url(images/btn_chothue_active.jpg) no-repeat;}

.menu_sgd .menu_dangtin a{ background:url(images/btn_dangtin.jpg) no-repeat; float:left; width:114px; height:54px;}
.menu_sgd .menu_dangtin a:hover{background:url(images/btn_dangtin_active.jpg) no-repeat;}
.menu_sgd .menu_dangtin a.active{background:url(images/btn_dangtin_active.jpg) no-repeat;}

.menu_mid {
    width: 264px;
    border: 1px solid #cecfcf;
    float: left;
    margin-top: 20px;
    background: #fff;
}

.menu_mid .title_search_chitiet {
    background: url(images/btn_search_chitiet.jpg) no-repeat;
    height: 28px;
    float: left;
    border-bottom: 1px solid #CCC;
    width: 210px;
    font-size: 16px;
    padding: 15px 0 0 45px;
    margin: 10px 0 0 10px;
}

.menu_mid ul {
    margin-left: 10px;
    margin-top: 15px;
    float: left;
}

.menu_mid ul li {
    list-style: none;
    padding-bottom: 10px;
}

.fr {
    float: right;
}

.menu_mid ul li select {
    width: 240px;
    color: #666;
}

.menu_mid ul li input {
    border: 1px solid #CCC;
    width: 240px;
    color: #666;
}

.menu_mid ul li .search_button_chitiet {
    background: url(images/btn_search_gui.jpg) no-repeat;
    width: 72px;
    height: 26px;
    float: left;
    color: #000;
}

.box-content-inside-san {
    background: #fff;
    border: 1px solid #cecfcf;
    width: 698px;
    float: left;
}

.box-content-inside-san ul li {
    list-style: none;
    margin: 10px 25px 10px 0;
    float: left;
    width: 198px;
    background: #fff;
    border: 1px solid #CCC;
    padding: 5px;
    height: 255px;
}

.box-content-inside-san ul li:nth-of-type(3n) {
    margin-right: 0;
}

.box-content-inside-san ul li a {
    color: #333;
    text-decoration: none;
    color: #0b9b47;
    padding-top: 5px;
}

.box-content-inside-san ul li .boder_bottom {
    border-bottom: 1px solid #CCC;
    padding-bottom: 2px;
    margin-bottom: 5px;
}

.box-content-inside-san ul li a {
    color: #333;
    text-decoration: none;
    color: #0b9b47;
    padding-top: 5px;
}

.box-content-inside-san ul {
    margin-left: 10px;
}

.box-content-inside-san ul li .boder_bottom {
    border-bottom: 1px solid #CCC;
    padding-bottom: 2px;
    margin-bottom: 5px;
    padding-top: 0;
    margin-top: 0;
}

.box-content-inside-san ul li span {
    color: #ff7a00;
    font-weight: bold;
}

.box-content-inside-san ul li img {
    margin-bottom: 5px;
    width: 100%;
}

.green {
    color: #00888a;
    font-weight: 700;
}

.mainleft1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #13783e;
    padding: 5px;
    padding-left: 0px;
    text-transform: uppercase;
    background: none;
    clear: both;
}

ul.utis li {
    padding-left: 8px;
    margin: 0px;
    width: 200px;
    margin-left: 5px;
    color: #333;
    font-size: 12px;
    list-style: none;
    float: left;
    height: 20px;
}
.box-content-inside-san p {
    margin: 0;
}
.m-b-10 {
    margin-bottom: 10px;
}

.aligncenter {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.menu_tintuc ul li {
    list-style: none;
    border-bottom: 1px dashed #999;
    padding-bottom: 15px;
    padding-top: 15px;
}
.pagination {
	text-align: right;
	clear: both;
	display: block;
}
.pagination a {
	padding: 5px 10px;
	background: #e8e8e8;
}
.pagination a:hover{
	background: green;
	color: #fff;
}
.menu_tintuc ul li a {
    color: #0b9b47;
    text-decoration: none;
    font-weight: 700;
}

.menu_tintuc ul li .thumbnail img {
    width: 149px;
    height: 98px;
    float: left;
    margin-right: 15px;
    border: 1px solid #cacaca;
    padding: 2px;
}

.search-page .title a{
    color: #0B9B47;
    text-decoration: none;
    font-weight: bold;
}

.search-page article {
    clear: both;
    display: block;
}

.search-page .read-more a{
    text-decoration: none;
    float: right;
    color: #ff6600;
}

.nav-links .page-numbers.current {
    background: #0b9b47;
    color: #FFF;
}

.nav-links .page-numbers {
    background: #fff;
    border: 1px solid #cecece;
    padding: 3px 8px;
    margin: 0 5px 0 5px;
    color: #7b7b7b;
    display: inline-block;
    text-decoration: none;
}

.popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9999;
}

.show-popup {
    height: 100%;
    overflow: hidden;
}

.show-popup .popup {
    display: block;
}

.popup .overlay {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

.popup .img-wrapper-center {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999;
    margin-left: -400px;
    margin-top: -250px;
}

.popup .close-popup {
    position: absolute;
    top: -25px;
    right: -25px;
    cursor: pointer;
}

.form_lienhe {
    clear: both;
}

.nf-response-msg:not(:empty) {
    color: green;
    font-weight: bold;
    padding: 5px 10px;
    border-left: 3px solid green;
    background: #fff;
}

.nf-field-element input,
.nf-field-element textarea {
    padding: 5px 10px;
    border: 1px solid #999;
    border-radius: 2px;
}

.nf-form-title,
.nf-form-fields-required {
    display: none;
}

.field-wrap input[type="button"] {
    border: 1px solid #ccc;
    background: none;
    border-radius: 3px;
    padding: 5px 10px;
    display: inline-block;
    width: 80px !important;
    cursor: pointer;
}

.field-wrap input[type="button"]:hover {
    background: #ff4800;
    border-color: #ff4800;
    color: white;
}

@media only screen and (max-width: 768px) {
		#secondary {
			display: none;
		}
		#primary,
		.box-content-top,
		.box-content-inside {
			display: block;
			float: none;
			width: 100%;
		}
		.box-content .title {
			padding-left: 10px;
			width: 50%;
		}
		#primary {
			margin: 0;
		}
		#footer .container {
			width: 100%;
		}
		.menu,
		.header_middle .menu_wrapper {
			float: none;
			display: block;
			margin-top: 20px;
			text-align: center;
		}
		.header_middle .logo {
			display: block;
			float: none;
		}
		.header_middle .logo a {
			display: block;
			margin: 0 auto;
			max-width: 150px;
		}
		.box-content-inside ul li img {
			max-width: 100%;
			height: auto;
		}
		.box-content-top .view-all {
			width: calc(50% - 20px);
		}
		#menu-primary-menu::after {
			content: '';
			display: table;
			clear: both;
		}
}

@media only screen and (max-width: 468px) {
	.box-content-inside ul li {
		width: calc(50% - 25px);
		float: none;
		display: inline-block;
	}
	.box-content-inside ul li .item-title{
		display: block;
		clear: both;
	}
}
